# <font color='blue'>Ensino Einstein</font>
## <font color='black'>Ciência de Dados e Informática para a Área da Saúde</font>
### <font color='gray'>Data Science 1 [ Python ]</font>

In [0]:
# Carregando arquivo csv usando Pandas
import pandas as pd
file = 'data/HIAE_SSVV_v01.csv'
df_SSVV_filtered = pd.read_csv(file, sep = ";")

In [0]:
df_SSVV_filtered.head(5)

,T,PAd,PAs,FR,P,SpO2,T_str,T_num,PA_str,PA_num,FR_str,FR_num,P_str,P_num,SpO2_str,SpO2_num,Interna_num
0,36.4,76,113,18,79,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
1,36.7,74,118,16,75,98,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
2,36.2,82,114,17,86,97,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
3,36.6,77,133,16,115,94,Normotermia,2,Normotenso,2,Eupneico,2,Taquicardico,3,Baixo,1,0
4,35.9,89,122,18,80,95,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0

In [0]:
df_SSVV_NaNfiltered = []
#df_SSVV_filtered.shape

In [0]:
# Filering NaN / 'Failed'
df_SSVV_NaNfiltered = df_SSVV_filtered[(df_SSVV_filtered['T_str'] != 'Failed') & (df_SSVV_filtered['PA_str'] != 'Failed') & (df_SSVV_filtered['FR_str'] != 'Failed') & (df_SSVV_filtered['P_str'] != 'Failed') & (df_SSVV_filtered['SpO2_str'] != 'Failed')]

In [0]:
# View
df_SSVV_NaNfiltered.head(5)

,T,PAd,PAs,FR,P,SpO2,T_str,T_num,PA_str,PA_num,FR_str,FR_num,P_str,P_num,SpO2_str,SpO2_num,Interna_num
0,36.4,76,113,18,79,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
1,36.7,74,118,16,75,98,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
2,36.2,82,114,17,86,97,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0
3,36.6,77,133,16,115,94,Normotermia,2,Normotenso,2,Eupneico,2,Taquicardico,3,Baixo,1,0
4,35.9,89,122,18,80,95,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,0

# <> True <>

In [0]:
df_SSVV_NaNfiltered.shape

(78792, 17)

In [0]:
# View only 'Interna_str' = True
df_Interna_True = df_SSVV_NaNfiltered[(df_SSVV_NaNfiltered['Interna_num'] == 1)]
df_Interna_True.count()

T              2373
PAd            2373
PAs            2373
FR             2373
P              2373
SpO2           2373
T_str          2373
T_num          2373
PA_str         2373
PA_num         2373
FR_str         2373
FR_num         2373
P_str          2373
P_num          2373
SpO2_str       2373
SpO2_num       2373
Interna_num    2373
dtype: int64

In [0]:
df_Interna_True.groupby('T_str').size()

T_str
Febre           107
Febricula       123
Hipotermia      133
Normotermia    1996
Pirexia          14
dtype: int64

In [0]:
df_Interna_True.groupby('PA_str').size()

PA_str
Hipertenso_Grave                  14
Hipertenso_Leve/Mod              233
Hipertenso_Sistolica_Isolada     383
Hipotenso                         29
Normotenso                      1714
dtype: int64

In [0]:
df_Interna_True.groupby('FR_str').size()

FR_str
Bradipneico      10
Eupneico       2219
Taquipneico     144
dtype: int64

In [0]:
df_Interna_True.groupby('P_str').size()

P_str
Bradicardico     130
Normocardico    1890
Taquicardico     353
dtype: int64

In [0]:
df_Interna_True.groupby('SpO2_str').size()

SpO2_str
Baixo      300
Normal    2073
dtype: int64

# <>

In [0]:
# View only 'Interna_str' = True & Normal
df_Interna_TrueNormal = df_Interna_True[(df_Interna_True['T_str'] == 'Normotermia') & (df_Interna_True['PA_str'] == 'Normotenso') & (df_Interna_True['FR_str'] == 'Eupneico') & (df_Interna_True['P_str'] == 'Normocardico') & (df_Interna_True['SpO2_str'] == 'Normal')]

In [0]:
# View
df_Interna_TrueNormal.head(5)

,T,PAd,PAs,FR,P,SpO2,T_str,T_num,PA_str,PA_num,FR_str,FR_num,P_str,P_num,SpO2_str,SpO2_num,Interna_num
84,36.2,85,127,18,86,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
246,35.9,70,112,17,83,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
250,36.4,84,124,16,93,99,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
274,35.5,79,120,20,82,95,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
395,36.1,70,111,16,84,98,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1

In [0]:
df_Interna_TrueNormal.count()

T              1064
PAd            1064
PAs            1064
FR             1064
P              1064
SpO2           1064
T_str          1064
T_num          1064
PA_str         1064
PA_num         1064
FR_str         1064
FR_num         1064
P_str          1064
P_num          1064
SpO2_str       1064
SpO2_num       1064
Interna_num    1064
dtype: int64

##### Das 2004 internações, 853 (42,6%) ocorreram com todos os sinais vitais considerados normais.

In [0]:
# View only 'Interna_str' = True & Normal2
df_Interna_TrueNormal2 = df_Interna_True[((df_Interna_True['T_str'] == 'Normotermia') | (df_Interna_True['T_str'] == 'Febricula')) & ((df_Interna_True['PA_str'] == 'Normotenso') | (df_Interna_True['PA_str'] == 'Normotenso_Limitrofe') | (df_Interna_True['PA_str'] == 'Hypertenso_Leve')) & (df_Interna_True['FR_str'] == 'Eupneico') & (df_Interna_True['P_str'] == 'Normocardico') & (df_Interna_True['SpO2_str'] == 'Normal')]

# 35,5°C - 37,2°C Normotermia ou Afebril
# 37,3°C - 37,7°C Estado febril/subfebril ou febrícula

# Normotenso..........:     90 - 130     60 -  85
# Normotenso Limítrofe:    130 - 139     85 -  89
# Hipertenso Leve.....:    140 - 159     90 -  99

In [0]:
# View
df_Interna_TrueNormal2.head(5)

,T,PAd,PAs,FR,P,SpO2,T_str,T_num,PA_str,PA_num,FR_str,FR_num,P_str,P_num,SpO2_str,SpO2_num,Interna_num
84,36.2,85,127,18,86,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
246,35.9,70,112,17,83,96,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
250,36.4,84,124,16,93,99,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
274,35.5,79,120,20,82,95,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1
395,36.1,70,111,16,84,98,Normotermia,2,Normotenso,2,Eupneico,2,Normocardico,2,Normal,2,1

In [0]:
df_Interna_TrueNormal2.count()

T              1118
PAd            1118
PAs            1118
FR             1118
P              1118
SpO2           1118
T_str          1118
T_num          1118
PA_str         1118
PA_num         1118
FR_str         1118
FR_num         1118
P_str          1118
P_num          1118
SpO2_str       1118
SpO2_num       1118
Interna_num    1118
dtype: int64

##### Das 2004 internações, 891 (44,5%) ocorreram com todos os sinais vitais considerados normais.

In [0]:
# View only 'Interna_str' = True & Not Normal
df_Interna_TrueNotNormal = df_Interna_True[(df_Interna_True['T_str'] != 'Normotermia') & (df_Interna_True['PA_str'] != 'Normotenso') & (df_Interna_True['FR_str'] != 'Eupneico') & (df_Interna_True['P_str'] != 'Normocardico') & (df_Interna_True['SpO2_str'] != 'Normal')]

In [0]:
df_Interna_True.columns
df_Interna_True.head

In [0]:
# View
df_Interna_TrueNotNormal.head(5)

In [0]:
df_Interna_TrueNotNormal.count()

##### Das 2004 internações, 2 (0,001%) ocorreram com TODOS os sinais vitais considerados NÃO NORMAIS.

# <> False <>

In [0]:
# View only 'Interna_str' = False
df_Interna_False = df_SSVV_NaNfiltered[(df_SSVV_NaNfiltered['Interna_num'] == 0)]
df_Interna_False.count()

In [0]:
df_Interna_False.groupby('T_str').size()

In [0]:
df_Interna_False.groupby('PA_str').size()

In [0]:
df_Interna_False.groupby('FR_str').size()

In [0]:
df_Interna_False.groupby('P_str').size()

In [0]:
df_Interna_False.groupby('SpO2_str').size()

# <>

In [0]:
# View only 'Interna_str' = False & Not Normal
df_Interna_FalseNotNormal = df_Interna_False[(df_Interna_False['T_str'] != 'Normotermia') & (df_Interna_False['PA_str'] != 'Normotenso') & (df_Interna_False['FR_str'] != 'Eupneico') & (df_Interna_False['P_str'] != 'Normocardico') & (df_Interna_False['SpO2_str'] != 'Normal')]

In [0]:
# View
df_Interna_FalseNotNormal.head(5)

In [0]:
df_Interna_FalseNotNormal.count()

##### Das 65861 NÃO internações, 6 (0,01%) apresentam TODOS os sinais vitais considerados NÃO NORMAIS.

In [0]:
# Mais análises? Algum cenário não abordado?

In [0]:
# Desenvolva o código...